.TelaCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6a0dad; /* Roxo */
    color: #ffffff; /* Texto branco para contraste */
  }
  
  .TelaCadastro button {
    background-color: #0000ff; /* Azul */
    color: #ffffff; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .TelaCadastro button:hover {
    background-color: #4b0082; /* Roxo mais escuro ao passar o mouse */
  }